<header>
  <div class="container">
    <h1 class="subtitle">MyTODOリスト</h1>
    <p>ようこそ、<%= locals.username %>さん</p>
    <% if(locals.isLoggedIn) { %>
    <a href="/logout" class="loginout-b">ログアウト</a>
    <% } else { %>
    <a href="/signup" class="signup-b">新規登録</a>
    <a href="/login" class="loginout-b">ログイン</a>
    <% } %>
  </div>
</header>
