
<header>
  <div class="container">
    <h1 class="subtitle">MyTODOリスト</h1>
    <p>ようこそ、<%= locals.username %>さん</p>
    <a href="/login" class="">ログイン</a>
    <a href="/logout" class="">ログアウト</a>
  </div>
</header>
