<header>
  <div class="container">
    <h1 class="subtitle">MyTODOリスト</h1>
    <p>ようこそ、<%= locals.username %>さん</p>
    <% if(locals.isLoggedIn) { %>
    <a href="/logout" class="">ログアウト</a>
    <% } else { %>
    <a href="/signup">新規登録</a>
    <a href="/login" class="">ログイン</a>
    <% } %>
  </div>
</header>
