<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TODOアプリケーション</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="title">ログインページ</h1>
      </div>
    </header>
    <div class="top-wrapper">
      <div class="container">
        <form action="/login" method="post" class="new">
          <input type="text" name="email" placeholder="email">
          <input type="text" name="password" placeholder="password" type="password">
          <input type="submit" value="ログイン">
        </form>
        <a href="/index" class="rein">一覧に戻る⬅︎</a>
      </div>
    </div>
  </body>
</html>
