<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TODOアプリケーション</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <%- include('header') %>
    
    <div class="top-wrapper">
      <div class="container">
        <form action="/create" method="post" class="new">
            <input type="text" name="todoName">
            <input type="submit" value="MyTODOを追加する" class="add-b">
        </form>
        <a href="/index" class="rein">一覧に戻る⬅︎</a>
      </div>
    </div>
  </body>
</html>
