<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TODOアプリケーション</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="title">新規登録ページ</h1>
      </div>
    </header>
    <div class="top-wrapper">
      <div class="container">
        <div class="">
          <% if(errors.length >0) { %>
            <ul>
              <% errors.forEach(error => { %>
              <li><%= error %></li>
              <% }); %>
            </ul>
          <% } %>
        </div>
        <div class="">
          <form action="/signup" method="post" class="new">
            <input type="text" name="username" placeholder="username">
            <input type="text" name="email" placeholder="email">
            <input type="password" name="password" placeholder="password">
            <input type="submit" value="新規登録">
          </form>
        </div>
        <a href="/index" class="rein">一覧に戻る⬅︎</a>
      </div>
    </div>
  </body>
</html>
